POSTGRES_DB=siem
POSTGRES_USER=siem_app
POSTGRES_PASSWORD=change-me-locally
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
SIEM_DEMO_PASSWORD=admin123
OIDC_ISSUER_URI=http://localhost:8088/realms/enterprise-siem
OIDC_JWK_SET_URI=http://keycloak:8080/realms/enterprise-siem/protocol/openid-connect/certs
